@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 143px;
  background-color: #D9D9D9;
  width: 100%;
}
footer .soMe-icon {
  display: flex;
  gap: 30px;
}
footer .soMe-icon a {
  font-size: 22px;
  color: #fff;
}
footer div {
  margin-top: 24px;
}

.logo {
  width: 148px;
  height: 40px;
}

#nav {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 2;
}

.show {
  background-color: rgba(0, 0, 0, 0.9019607843);
}

.nav-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 14px 0 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}

#menu {
  transition: all 800ms ease;
  cursor: pointer;
  border-radius: 0 0 15px 15px;
  font-family: "Quicksand", sans-serif;
}
#menu ul {
  display: flex;
  list-style: none;
  margin: 14px 14px 18px 0;
  align-items: flex-end;
  gap: 15px;
}
#menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}
#menu a:hover {
  color: #FA96AA;
  -webkit-text-decoration: underline #FA96AA;
          text-decoration: underline #FA96AA;
}

#burger {
  display: none;
  width: 27px;
  height: 27px;
  margin-bottom: 7px;
  fill: #FA96AA;
}

@media (max-width: 1024px) {
  #burger {
    display: block;
    cursor: pointer;
    z-index: 2;
  }
  #burger:focus {
    border: none;
    outline: none;
  }
  nav {
    position: absolute;
    right: 0;
    top: 80px;
    -webkit-clip-path: circle(0% at 100% 0);
            clip-path: circle(0% at 100% 0);
    transition: all 800ms ease-in-out;
    height: 168px;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
  }
  nav.show {
    -webkit-clip-path: circle(200% at 100% 0);
            clip-path: circle(200% at 100% 0);
    transition-duration: 800ms;
  }
  .nav-container {
    padding-right: 15px;
  }
  #menu a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  #menu ul:hover {
    color: #FA96AA;
  }
}
.member {
  background-color: #F7F0F2;
  height: auto;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.member .member-content {
  padding: 45px 30px;
}
.member .member-content h1 {
  font-size: 54px;
  font-weight: bold;
}
.member .member-content p {
  margin: 14px 0 22px 0;
  font-size: 18px;
}
.member .member-content button {
  background-color: #FA96AA;
  width: 320px;
  height: 60px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.member .member-img {
  padding: 10px;
}
.member .member-img img {
  padding: 5px;
}

@media only screen and (min-width: 1024px) {
  .member-img {
    display: none;
  }
}
@media only screen and (max-width: 728px) {
  .member-img {
    display: none;
  }
}
.review-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 54px;
  text-transform: uppercase;
  padding-bottom: 50px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.review-header span {
  display: flex;
  justify-content: center;
  color: #FA96AA;
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 54px;
  text-transform: uppercase;
  padding-bottom: 50px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.product-header span {
  color: #FA96AA;
}

.review-content {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #707070;
}
.review-content img {
  border-radius: 50%;
  border: 10px solid #FA96AA;
}
.review-content strong {
  font-weight: bold;
}
.review-content .review {
  padding: 45px 40px 0 40px;
}
.review-content .name {
  padding-top: 20px;
  margin-bottom: 18px;
}

hr {
  margin: auto;
  width: 85%;
  color: #FA96AA;
}

.review-two {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #707070;
}
.review-two .name {
  padding-top: 20px;
  margin-bottom: 18px;
}
.review-two .review {
  padding: 45px 40px 0 40px;
}
.review-two strong {
  font-weight: bold;
}
.review-two img {
  margin-top: 55px;
  border-radius: 50%;
  border: 10px solid #FA96AA;
}
.review-two hr {
  margin-bottom: 60px;
}

@media only screen and (min-width: 728px) and (max-width: 1024px) {
  .review-content, .review-two {
    display: grid;
    grid-template: repeat(2, auto)/repeat(3, auto);
  }
  .review-content .review {
    padding: 0 !important;
    align-self: center;
    text-align: left;
    width: 85%;
  }
  .review-content .name {
    grid-row-start: 2;
    margin: 0 0 50px 20px;
  }
  .review-content img {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0 30px 0 50px;
  }
  hr {
    display: none;
  }
  .review-two .review {
    grid-row-start: 1;
    text-align: left;
  }
  .review-two .name {
    grid-column-start: 3;
    margin: 0 0 50px 20px;
    align-self: flex-start;
  }
  .review-two img {
    align-self: flex-end;
    grid-column-start: 3;
    margin: 0 30px 0 50px;
  }
}
#forside-product-container {
  display: flex;
  justify-content: center;
  height: auto;
  flex-wrap: wrap;
}

.product-api-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  max-width: 320px;
}
.product-api-container .product-image {
  border-radius: 15px 15px 0 0;
  width: 100%;
  border-bottom: 1px solid #FA96AA;
}
.product-api-container .product-headline {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  width: 100%;
  border-radius: 0 0 15px 15px;
  margin-bottom: 46px;
  min-height: 180px;
}
.product-api-container .product-headline .title {
  font-size: 22px;
  padding: 15px 0 0 10px;
}
.product-api-container .product-headline .product-price {
  bottom: 0;
  font-weight: bold;
  font-size: 18px;
  padding: 7px 0 20px 10px;
}
.product-api-container .discount-container {
  position: absolute;
}
.product-api-container .discount-container .discount {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  background-color: #FA96AA;
  color: #F3EDED;
  width: 100px;
  height: 60px;
  border-radius: 15px;
  position: relative;
  left: 100px;
  top: 35px;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (min-width: 728px) {
  #forside-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: ".  ." ".  .";
    gap: 25px 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .product-api-container {
    margin: 0 50px 0 50px;
  }
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/headers/front.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}
.hero .hero-content {
  background-color: #F7F0F2;
  width: 100%;
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.hero .hero-content .hero-header {
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 62px 19px 62px;
}
.hero .hero-content p {
  font-size: 18px;
  padding-bottom: 27px;
}
.hero .hero-content span {
  text-transform: uppercase;
}
.hero .hero-content button {
  background-color: #FA96AA;
  width: 320px;
  height: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

@media only screen and (min-width: 728px) {
  .hero .hero-content {
    width: 668px;
  }
  .hero .hero-content button {
    width: 608px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero {
    height: 100vh;
  }
  .hero .hero-content {
    width: 800px;
    height: 500px;
  }
}
.medlem-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/headers/subscribers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 35px;
}
.medlem-hero .medlem-hero-content {
  background-color: #fff;
  width: 100%;
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.medlem-hero .medlem-hero-content .medlem-hero-header {
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 62px 19px 62px;
  color: #FA96AA;
}
.medlem-hero .medlem-hero-content p {
  font-size: 18px;
  padding-bottom: 27px;
}

@media only screen and (min-width: 728px) {
  .medlem-hero .medlem-hero-content {
    width: 668px;
  }
  .medlem-hero .medlem-hero-content button {
    width: 608px;
  }
}
@media only screen and (min-width: 1024px) {
  .medlem-hero {
    height: 100vh;
  }
  .medlem-hero .medlem-hero-content {
    width: 800px;
    height: 500px;
  }
}
.medlem-form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  width: 85%;
  margin: auto;
}
.medlem-form-section input {
  border: 1px solid #707070;
  height: 40px;
  width: 100%;
  margin: 10px 0 10px 0;
}
.medlem-form-section input:focus {
  outline: none;
  border: 3px solid #FA96AA;
}
.medlem-form-section textarea {
  border: 1px solid #707070;
  width: 100%;
  margin: 10px 0 10px 0;
  height: 220px;
}
.medlem-form-section textarea:focus {
  outline: none;
  border: 3px solid #FA96AA;
}
.medlem-form-section .medlem-btn {
  background-color: #FA96AA;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 133px;
  height: 40px;
  margin-bottom: 42px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-start;
}
.medlem-form-section p {
  align-self: flex-start;
  color: #707070;
  font-size: 20px;
}
.medlem-form-section .valid {
  display: none;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F7F0F2;
  font-family: "Quicksand", sans-serif;
}
.medlem-form-section .valid h1 {
  font-size: 54px;
  padding: 20px 0 20px 0;
}
.medlem-form-section .valid .form-name {
  color: #FA96AA;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}
.medlem-form-section .valid .medlem-txt {
  font-size: 18px;
  text-align: center;
  padding-bottom: 40px;
}
.medlem-form-section .valid .padding-top {
  padding-top: 40px;
}
.medlem-form-section .valid img {
  border-radius: 50%;
  border: 10px solid #FA96AA;
}
.medlem-form-section .valid .medlem-succes-btn {
  border: none;
  background-color: #FA96AA;
  width: 320px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 30px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
  cursor: pointer;
}

.bad-response-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 100%;
  width: 100%;
}

.product-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/headers/products.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}
.product-hero .product-hero-content {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.product-hero .product-hero-content .product-hero-header {
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 62px 19px 62px;
}
.product-hero .product-hero-content p {
  font-size: 18px;
  padding-bottom: 27px;
}

@media only screen and (min-width: 728px) {
  .product-hero .product-hero-content {
    width: 668px;
  }
  .product-hero .product-hero-content button {
    width: 608px;
  }
}
@media only screen and (min-width: 1024px) {
  .product-hero {
    height: 100vh;
  }
  .product-hero .product-hero-content {
    width: 800px;
    height: 500px;
  }
}
#product-container {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 85%;
  height: auto;
  flex-wrap: wrap;
}

.sundhed-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/headers/abouthealth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}
.sundhed-hero .sundhed-hero-content {
  background-color: #FA96AA;
  color: #fff;
  width: 100%;
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.sundhed-hero .sundhed-hero-content .sundhed-hero-header {
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
}
.sundhed-hero .sundhed-hero-content p {
  font-size: 18px;
  padding-bottom: 27px;
  margin: 0 27px 0 27px;
}

@media only screen and (min-width: 728px) {
  .sundhed-hero .sundhed-hero-content {
    width: 668px;
  }
  .sundhed-hero .sundhed-hero-content button {
    width: 608px;
  }
}
@media only screen and (min-width: 1024px) {
  .sundhed-hero {
    height: 100vh;
  }
  .sundhed-hero .sundhed-hero-content {
    width: 800px;
    height: 500px;
  }
}
.accordion {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  width: 85%;
  margin: auto;
  outline: none;
  border: none;
  font-size: 18px;
  transition: 0.4s;
  background-color: #fff;
}
.accordion p {
  margin-left: 10px;
  font-family: "Quicksand", sans-serif;
}
.accordion.acc-border {
  border-bottom: 2px solid #FA96AA;
}
.accordion.border-top {
  margin-top: 60px;
  border-top: 2px solid #FA96AA;
}
.accordion::after {
  content: "?";
  color: #D9D9D9;
  font-weight: bold;
  font-size: 50px;
  margin-left: 5px;
}

.active::after {
  color: #FA96AA;
}

.panel {
  font-family: "Quicksand", sans-serif;
  margin: auto;
  width: 80%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}/*# sourceMappingURL=main.css.map */