@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.logo {
  width: 148px;
  height: 40px;
}

#nav {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 2;
}

.show {
  background-color: rgba(0, 0, 0, 0.9019607843);
}

.nav-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 14px 0 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}

#menu {
  transition: all 800ms ease;
  cursor: pointer;
  border-radius: 0 0 15px 15px;
  font-family: "Quicksand", sans-serif;
}
#menu ul {
  display: flex;
  list-style: none;
  margin: 14px 14px 18px 0;
  align-items: flex-end;
  gap: 15px;
}
#menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}
#menu a:hover {
  color: #FA96AA;
  -webkit-text-decoration: underline #FA96AA;
          text-decoration: underline #FA96AA;
}

#burger {
  display: none;
  width: 27px;
  height: 27px;
  margin-bottom: 7px;
  fill: #FA96AA;
}

@media (max-width: 1024px) {
  #burger {
    display: block;
    cursor: pointer;
    z-index: 2;
  }
  #burger:focus {
    border: none;
    outline: none;
  }
  nav {
    position: absolute;
    right: 0;
    top: 80px;
    -webkit-clip-path: circle(0% at 100% 0);
            clip-path: circle(0% at 100% 0);
    transition: all 800ms ease-in-out;
    height: 168px;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
  }
  nav.show {
    -webkit-clip-path: circle(200% at 100% 0);
            clip-path: circle(200% at 100% 0);
    transition-duration: 800ms;
  }
  .nav-container {
    padding-right: 15px;
  }
  #menu a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }
  #menu ul:hover {
    color: #FA96AA;
  }
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  /* HUSK AT SLETTE DEN FØRST ../ SÅ DEN KAN VISES UDEN LIVE SERVER */
  background-image: url(../../assets/headers/front.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  font-family: "Quicksand", sans-serif;
}
.hero .hero-content {
  background-color: #F7F0F2;
  width: 100%;
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.hero .hero-content h1 {
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 62px 14px 62px;
}
.hero .hero-content h1 p {
  font-size: 18px;
}
.hero .hero-content span {
  text-transform: uppercase;
}
.hero .hero-content button {
  background-color: #FA96AA;
  width: 320px;
  height: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  margin-top: 24px;
}

@media only screen and (min-width: 728px) {
  .hero .hero-content {
    width: 668px;
  }
  .hero .hero-content button {
    width: 608px;
  }
}
.product {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 44px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.product div {
  text-transform: uppercase;
}
.product div h1 {
  font-size: 54px;
}
.product div h1 span {
  color: #FA96AA;
}

.review {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 44px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.review div {
  text-transform: uppercase;
}
.review div h1 {
  font-size: 54px;
}
.review div h1 span {
  display: flex;
  justify-content: center;
  color: #FA96AA;
}/*# sourceMappingURL=main.css.map */