// H1 AND SPAN STYLE START
h1{
    @include flex-center-column;
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;
    padding-bottom: 50px;
    font-family: $font-quick-sand;
    font-weight: bold;

    span{
        @include flex-center-horizontal;
        color: $font-color-pink;
    }
}
// H1 AND SPAN STYLE END

// STYLE PRODUKT SECTION START
.product-container{
    @include flex-center;
    height: auto;
    margin-top: 44px;
}
// STYLE PRODUKT SECTION END

// STYLE REVIEW SECTION START
    
.review-content{
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-family: $font-quick-sand;
    color: $font-color-grey;

    img{
        border-radius: 50%;
        border: 10px solid $border-color;
    }

    strong{
        font-weight: bold;
    }

    .review{
        padding: 45px 40px 0 40px;
    }

    .name{
        padding-top: 18px;
        margin-bottom: 18px;
    }
}
    
hr{
    margin: auto;
    width: 85%;
    color: $hr-color;
}

.review-two{
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-family: $font-quick-sand;
    color: $font-color-grey;

    .name{
        padding-top: 20px;
        margin-bottom: 18px;
    }

    .review{
        padding: 45px 30px 0 30px;
    }

    strong{
        font-weight: bold;
    }

    img{
        margin-top: 55px;
        border-radius: 50%;
        border: 10px solid $border-color;
    }

    hr{
        margin-bottom: 60px;
    }
}

@media only screen and (min-width: $tablet) {
    .review-content, .review-two {
        display: grid;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }
    
    .review-content {
        .name {
            grid-row-start: 2;
            padding-top: 0px !important;
        }
        
        img {
            grid-column-start: 1;
            grid-row-start: 1;
            margin: 20px 20px;
        }
    }
    
    hr {
        display: none;
    }
    
    .review {
        padding: 0 !important;
        align-self: center;
        text-align: left;
    }
    
    .review-two {
        img {
            grid-column-start: 3;
            margin: 20px 20px !important;
        }
        .review {
            grid-row-start: 1;
            padding-top: 0px !important;
        }
        
        .name {
            grid-column-start: 3;
            padding-top: 0px;        
        }
    }
}
// STYLE REVIEW SECTION END