#product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-api-container{
    @include flex-center-column;
    font-family: $font-quick-sand;
    max-width: 300px;
    margin: 60px 30px 0 30px;
    
    .product-image{
        border-radius: 15px 15px 0 0;
        max-height: 300px;
        width: 100%;
        border-bottom: 1px solid $border-color;
    }
    
    .product-headline{
        box-shadow: 0 3px 6px $box-shadow-color;
        width: 100%;
        border-radius: 0 0 15px 15px;
        margin-bottom: 46px;
        
        .title{
            font-size: 22px;
            padding: 15px 0 0 10px;
            min-height: 100px;
        }
        
        .product-price{
            bottom: 0;
            font-weight: bold;
            font-size: 18px;
            padding: 7px 0 20px 10px;
        }
    }

    .discount-container{
        position: absolute;
        
        .discount{
            @include flex-center;
            font-family: $font-quick-sand;
            background-color: $discount-bg-color;
            color: $discount-txt-color;
            width: 100px;
            height: 60px;
            border-radius: 15px;
            position: relative;
            left: 75px;
            top: 0;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: 2500px) {
    #product-container{
        margin: auto;
        max-width: 60%;
    }
}