// H1 AND SPAN STYLE START
.review-header {
    @include flex-center-column;
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;
    padding-bottom: 50px;
    font-family: $font-quick-sand;
    font-weight: bold;

    span {
        @include flex-center-horizontal;
        color: $font-color-pink;
    }
}

// H1 AND SPAN STYLE END

// STYLE PRODUKT SECTION START
.product-header {
    @include flex-center-column;
    font-size: 54px;
    text-transform: uppercase;
    padding: 30px 0 30px 0;
    font-family: $font-quick-sand;
    font-weight: bold;

    span {
        color: $font-color-pink;
    }
}

// STYLE PRODUKT SECTION END

// STYLE REVIEW SECTION START
.review-content {
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-family: $font-quick-sand;
    color: $font-color-grey;

    img {
        border-radius: 50%;
        border: 10px solid $border-color;
    }

    .review {
        padding: 45px 40px 0 40px;
    }

    .name {
        padding-top: 20px;
        margin-bottom: 18px;
    }
}

hr {
    margin: auto;
    width: 85%;
    color: $hr-color;
    margin-bottom: 60px;
}



@media only screen and (min-width: $tablet) and (max-width: $desktop) {
    hr {
        display: none;
    }
    .review-content,
    .review-two {
        display: grid;
        grid-template: repeat(3, auto) / repeat(4, auto);
    }

    .content-left {
        .review {
            padding: 0 !important;
            align-self: center;
            text-align: left;
            width: 85%;
        }

        .name {
            grid-row-start: 2;
        }

        img {
            grid-column-start: 1;
            grid-row-start: 1;
            margin: 0 30px 0 50px;
        }

        .byline {
            grid-row-start: 3;
            margin-bottom: 50px;
        }
    }

    .content-right {
        .review {
            grid-row-start: 1;
            align-self: center;
            text-align: left;

        }

        .name {
            grid-column-start: 3;
            align-self: flex-start;
        }

        img {
            align-self: flex-end;
            grid-column-start: 3;
            margin: 0 30px 0 50px;
        }

        .byline {
            grid-column-start: 3;
            margin-bottom: 50px;
        }
    }
}

// STYLE REVIEW SECTION END