.hero{
    @include flex-center; 
    background-image: url(../assets/headers/front.jpg); 
    @include cover-background;
    height: 700px;
    width: 100%;
    font-family: $font-quick-sand;

    .hero-content{
        background-color: $landing-page-hero-bg-color;
        width: 100%;
        height: 384px;
        @include flex-center-column;
        text-align: center;
        
        .hero-header{
            font-size: 54px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 62px 19px 62px;
            
        }

        p{
            font-size: 18px;
            padding-bottom: 27px;
        }
        
        span{
            text-transform: uppercase;
        }

        button{
            background-color: $btn-color;
            width: 320px;
            height: 60px;
            box-shadow: 0 3px 6px $box-shadow-color;
            border-radius: 30px;
            border: none;
            font-weight: bold;
            font-size: 18px;
            color: $font-color-white;
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: $tablet) {
    .hero{

        .hero-content{
            width: 668px;
            
            button{
                width: 608px;
            }
        }
    }
}

@media only screen and (min-width: $desktop) {
    .hero{
        height: 100vh;

        .hero-content{
            width: 800px;   
            height: 500px;
        }
    }
}