// MEDLEM HERO START
.medlem-hero {
    @include flex-center;
    background-image: url(../assets/headers/subscribers.jpg);
    @include cover-background;
    height: 700px;
    width: 100%;
    font-family: $font-quick-sand;

    .medlem-hero-content {
        background-color: $medlem-hero-bg-color;
        width: 100%;
        height: 384px;
        @include flex-center-column;
        text-align: center;

        .medlem-hero-header {
            font-size: 54px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 62px 19px 62px;
            color: $font-color-pink;
        }

        p {
            font-size: 18px;
            padding-bottom: 27px;
        }
    }
}

@media only screen and (min-width: $tablet) {
    .medlem-hero {

        .medlem-hero-content {
            width: 668px;

            button {
                width: 608px;
            }
        }
    }
}

@media only screen and (min-width: $desktop) {
    .medlem-hero {
        height: 100vh;

        .medlem-hero-content {
            width: 800px;
            height: 500px;
        }
    }
}

// MEDLEM HERO END

// OPRET MEDLEM START
.medlem-form-container {
    @include flex-center-column;
    font-family: $font-quick-sand;
    width: 85%;
    margin: auto;

    input {
        border: 1px solid $medlem-border-color;
        height: 40px;
        width: 100%;
        margin: 10px 0 10px 0;

        &:focus {
            outline: none;
            border: 3px solid $border-color;
        }
    }

    textarea {
        border: 1px solid $medlem-border-color;
        width: 100%;
        margin: 10px 0 10px 0;
        height: 220px;

        &:focus {
            outline: none;
            border: 3px solid $border-color;
        }
    }

    .medlem-btn {
        background-color: $btn-color;
        color: $font-color-white;
        border: none;
        border-radius: 20px;
        width: 133px;
        height: 40px;
        margin-bottom: 42px;
        cursor: pointer;
        font-weight: bold;
        align-self: flex-start;

        &:hover {
            background-color: $btn-hover-color;
        }
    }

    p {
        align-self: flex-start;
        color: $font-color-grey;
        font-size: 20px;
    }

    .form-paragraph {
        margin-top: 35px;
    }
    // OPRET MEDLEM END

    // VALIDATION MESSAGE STYLE START 
    .valid-container {
        @include flex-center;
        justify-content: center;
        align-items: center;

        .valid-message {
            display: none;
            text-align: center;
            width: 100%;
            height: 640px;
            position: absolute;
            bottom: 0;
            padding-bottom: 50px;
            background-color: $succsess-bg-color;
            font-family: $font-quick-sand;

            .close-btn{
                position: absolute;
                right: 5%;
                top: 5%;
                color: $btn-color;
            }

            h1 {
                font-size: 54px;
                padding: 20px 0 20px 0;
            }

            .form-name {
                color: $font-color-pink;
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 20px;
            }

            .medlem-txt {
                font-size: 18px;
                text-align: center;
                padding-bottom: 40px;
            }

            .padding-top {
                padding-top: 40px;
            }

            img {
                border-radius: 50%;
                width: 200px;
                height: 200px;
                border: 5px solid $border-color;
            }

            .medlem-succes-btn {
                border: none;
                background-color: $btn-color;
                width: 320px;
                height: 60px;
                font-size: 18px;
                font-weight: bold;
                box-shadow: 0 3px 6px $box-shadow-color;
                border-radius: 30px;
                font-family: $font-quick-sand;
                color: $font-color-white;
                cursor: pointer;
            }
        }
    }
    
    .bad-response-txt {
        @include flex-center;
        height: 100%;
        width: 100%;
    }
    
}

@media only screen and (min-width: $phone) and (max-width: $desktop) {
    .valid-message {
        transform: translateY(27%);
    }
}

@media only screen and (min-width: $desktop) {
    .valid-message {
        transform: translateY(88%);
    }
}
// VALIDATION STYLE END