.member{
    background-color: $landing-page-medlem-bg-color;
    height: auto;
    width: 100%;
    font-family: $font-quick-sand;
    @include flex-center;
    text-align: center;

    .member-content{
        padding: 45px 30px;
        
        h1{
            font-size: 54px;
            font-weight: bold;
        }

        p{
            margin: 14px 0 22px 0;
            font-size: 18px;
        }

        button{
            background-color: $btn-color;
            width: 320px;
            height: 60px;
            border: none;
            border-radius: 30px;
            box-shadow: 0 3px 6px $box-shadow-color;
            color: $font-color-white;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;

            &:hover{
                background-color: $btn-hover-color;
            }
        }

    }
    .member-img{
        padding: 10px;        
    
        img{
            padding: 5px;
        }
    }
}

@media only screen and (min-width: $desktop) {
    .member-img{
        display: none;
    }
}

@media only screen and (max-width: $tablet) {
    .member-img{
        display: none;
    }
}