#product-container{
    display: flex;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}

.product-api-container{
    @include flex-center-column;
    font-family: $font-quick-sand;
    max-width: 320px;
    margin: auto;
    
    .product-image{
        border-radius: 15px 15px 0 0;
        width: 100%;
        border-bottom: 1px solid $border-color;
    }
    
    .product-headline{
        box-shadow: 0 3px 6px $box-shadow-color;
        width: 100%;
        border-radius: 0 0 15px 15px;
        margin-bottom: 46px;
        position: relative;
        
        .title{
            font-size: 22px;
            padding: 15px 0 0 10px;
        }
        
        .product-price{
            font-weight: bold;
            font-size: 18px;
            padding: 7px 0 20px 10px;
        }
    }

    .discount-container{
        position: absolute;
        
        .discount{
            @include flex-center;
            font-family: $font-quick-sand;
            background-color: $discount-bg-color;
            color: $discount-txt-color;
            width: 100px;
            height: 60px;
            border-radius: 15px;
            position: relative;
            left: 100px;
            top: 35px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

@media only screen and (min-width: $tablet) {
    .product-api-container{
        flex-direction: column;
    }
}

@media only screen and (min-width: $desktop) {
    .product-api-container{
        margin: 0 50px 0 50px;
    }
}