// ENTIRE SITE COLOR START
$background-color: #fff;
// ENTIRE SITE COLOR END

// NAVBAR COLOR START
$navbar-bg-color: #fff;
$burgermenu-bg-color: #000;
$burgermenu-icon-color: #FA96AA;
// NAVBAR COLOR END

// BTN COLOR START
$btn-color: #FA96AA;
// BTN COLOR END

// LANDINGPAGE HERO AND MEDLEM BUTOM SECTION COLOR START
$landing-page-hero-bg-color: #F7F0F2;
$landing-page-medlem-bg-color: #F7F0F2;
// LANDINGPAGE HERO AND MEDLEM BUTOM SECTION COLOR END

// DISCOUNT TXT COLOR START
$discount-txt-color: #F3EDED;
// DISCOUNT TXT COLOR END

// FOOTER BG COLOR START
$footer-bg-color: #D9D9D9;
// FOOTER BG COLOR END

// MEDIA BREAKPOINTS START
$phone: 380px; 
$tablet: 728px; 
$desktop: 1024px; 
// MEDIA BREAKPOINTS END