// ENTIRE SITE COLOR START
$background-color: #fff;
// ENTIRE SITE COLOR END

// BOX SHADOW COLOR START
$box-shadow-color: #00000029;
// BOX SHADOW COLOR END

// NAVBAR COLOR START
$navbar-bg-color: #fff;
$burgermenu-bg-color: #000000E6;
$burgermenu-icon-color: #FA96AA;
// NAVBAR COLOR END

// BTN COLOR START
$btn-color: #FA96AA;
// BTN COLOR END

// LANDINGPAGE HERO AND MEDLEM BUTOM SECTION COLOR START
$landing-page-hero-bg-color: #F7F0F2;
$landing-page-medlem-bg-color: #F7F0F2;
// LANDINGPAGE HERO AND MEDLEM BUTOM SECTION COLOR END

// SUNDHED PAGE VARIABLES START
$sundhed-hero-bg-color: #FA96AA;
$accordion-icon-color: #D9D9D9;
// SUNDHED PAGE VARIABLES END

// PRODUCT PAGE VARIABLES START
$product-hero-bg-color: #000000CC;
// PRODUCT PAGE VARIABLES END

// REVIEW SECTION COLOR START
$border-color: #FA96AA;
$hr-color: #FA96AA;
// REVIEW SECTION COLOR END

// DISCOUNT TXT COLOR START
$discount-txt-color: #F3EDED;
$discount-bg-color: #FA96AA;
// DISCOUNT TXT COLOR END

// FOOTER BG COLOR START
$footer-bg-color: #D9D9D9;
// FOOTER BG COLOR END

// MEDIA BREAKPOINTS START
$phone: 380px; 
$tablet: 728px; 
$desktop: 1024px; 
// MEDIA BREAKPOINTS END